<!DOCTYPE html>
<html>
<head>
	<title>As of Today | Stats for quitting soda &amp; cigarettes</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- fb meta tags -->
	<meta property="og:url"           content="http://asoftoday.me" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="As of Today" />
	<meta property="og:image"         content="http://asoftoday.me/images/templogo19.jpg" />
	<meta property="og:description"   content="A free app to keep track of the stats for your life after soda or cigarettes." />
	<meta property="fb:app_id"        content="312283985879917">

	<!-- libaries -->
	<link rel="stylesheet" type="text/css" href="../lib/semantic/semantic.min.css">
	<script src="../lib/jQuery/jquery-3.2.1.min.js"></script>
	<script src="../lib/semantic/semantic.min.js"></script>

	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/landing.css">

	<!-- Mobile device homescreen logo -->
	<link rel="apple-touch-icon" href="../favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="../favicon.ico"/>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>

</head>
<body>

	<div id="landing-header">
		<h1>As of Today</h1>
		<p>A free app to keep track of the stats for your life after soda or cigarettes.</p>
		<a href="settings.html" class="ui massive green button">Set up your stats</a>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</body>
</html>